set_from_resource $darkred     URxvt.color1  #000000
set_from_resource $red         URxvt.color9  #000000
set_from_resource $darkgreen   URxvt.color2  #000000
set_from_resource $green       URxvt.color10 #000000
set_from_resource $darkyellow  URxvt.color3  #000000
set_from_resource $yellow      URxvt.color11 #000000
set_from_resource $darkblue    URxvt.color4  #000000
set_from_resource $blue        URxvt.color12 #000000
set_from_resource $darkmagenta URxvt.color5  #000000
set_from_resource $magenta     URxvt.color13 #000000
set_from_resource $darkcyan    URxvt.color6  #000000
set_from_resource $cyan        URxvt.color14 #000000
set_from_resource $darkwhite   URxvt.color7  #000000
set_from_resource $white       URxvt.color15 #000000

set $black       #282828
set $darkblack   #1d2021
set $transparent #00000000

set $mod Mod4

set $i3bar i3bar
set $strip_workspace_numbers yes
