# Startup Applications
exec --no-startup-id env KEYBASE_START_UI=hideWindow run_keybase
exec --no-startup-id /usr/bin/syncthing -no-browser -home="$HOME/.config/syncthing"
exec --no-startup-id /usr/bin/syncthing-gtk

exec --no-startup-id i3-msg 'workspace 1'
exec --no-startup-id firefox
exec --no-startup-id google-chrome --app-id=icppfcnhkcmnfdhfhphakoifcfokfdhg
exec_always --no-startup-id ~/.config/i3/i3-autoname-workspaces.py &
